
.root{

 -fx-font-size: 12pt;
 -fx-background-image: url("background.jpg"); 
}

.button{
 -fx-background-color: none;
 -fx-background-image: url("devilWalk.gif");
 -fx-min-width: 150pt;
 -fx-min-height: 102pt;
 -fx-background-size: 150px 102px;
 -fx-background-repeat: no-repeat;
    -fx-background-position: center 8px;
    -fx-border-color: rgb(255,255,128);
    -fx-border-width: 3;
    -fx-border-style: dashed;
}